VITE_APP_NAME="School Template"
VITE_APP_TITLE="School Template"

VITE_BASE_COMPANY="devfin"
VITE_BASE_COMPANY_NAME="ដេវហ្វីន គ្រប់គ្រង់ប្រាក់កម្ចី"
VITE_BASE_COMPANY_LOGO_SIZE="32"

VITE_APP_TITLE_NAME="School Template"
VITE_APP_MAIN_TITLE="ដេវហ្វីន គ្រប់គ្រង់ប្រាក់កម្ចី"
VITE_APP_SHORT_NAME="DEVFIN"
VITE_PRIMARY_COLOR="#1976D2"

VITE_BPK_COLOR="#1976D2"
VITE_SVNF_COLOR="#1976D2"


VITE_API_URL=http://loan-system-api.test
VITE_BASE_URL=http://localhost:5173

VITE_LOGIN_USERNAME=admin
VITE_LOGIN_PASSWORD=Admin@168
VITE_ENCRYPTION_SECRET=Hsrxx3xmrF67+DVwgpbJ1tg4rKuHG8+dcGKus7v2VyI=
VITE_FORCE_HMR=true

VITE_GOOGLE_MAPS_API_KEY=AIzaSyDqtt4jYaKwAkyIWDtIYTnbNPE2wZZBvsA
VITE_CLIENT_ID=9e0f33a0-4381-4055-8ca3-ce011ec3df7b